name: gitleaks-secrets-scan

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: mohamedsamirspot/Microservices-Github-Actions/.github/actions/gitleaks-secrets-scan@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
