name: on-pr

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: mohamedsamirspot/Microservices-Github-Actions/.github/actions/pre-commit@main
        with:
          python-version: "3.14"
