name: release-tag

on:
  push:
    branches:
      - main

jobs:
  release-tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Run release action
        id: release
        uses: mohamedsamirspot/Microservices-Github-Actions/.github/actions/release-tag@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
